@{

}

<html>
<head>
    <title>Information</title>

</head>
<body>
    <h1>Student Information</h1>
    <p>
        Name: Delos Reyes, Rico Roy Adonis P.<br>
        Student NO.: 1244-19<br>
        Department: College of Computer Study<br>
        Course: Bachelor of Science in Information Technology<br>
        Yr & Section: 31A1


    </p>
</body>
</html>


