@{
}
<html>
<head>
    <meta name=" viewport" content="width = device = width " />
    <title>Home</title>
</head>
<body>
    <h2>Application Development and Emerging Technology</h2>
    <div>
        @DateTime.Now.ToString()<br>
        @ViewBag.Greeting Everyone
        <p>
            Welcome to our Sudject
        </p>
    </div>
</body>
</html>
